name: Flutter iOS Build and Release

on:
  push:
    branches:
      - master  # Trigger the workflow on pushes to the `master` branch
  pull_request:
    branches:
      - master  # Trigger the workflow on pull requests to `master`

jobs:
  build:
    runs-on: macos-latest  # Use the macOS runner provided by GitHub Actions

    steps:
    - name: Checkout code
      uses: actions/checkout@v2  # Check out your repository code

    - name: Set up Flutter
      uses: subosito/flutter-action@v2  # Use Flutter action to install Flutter SDK
      with:
        flutter-version: 'stable'  # You can specify a different version of Flutter if needed

    - name: Install dependencies
      run: flutter pub get  # Install Flutter dependencies

    - name: Build iOS App
      run: flutter build ios --release --no-codesign  # Build the .ipa file without code signing

    - name: Upload .ipa as a GitHub Release Artifact
      uses: softprops/action-gh-release@v1
      with:
        files: build/ios/iphoneos/Runner.ipa  # Path to the generated .ipa file
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Use GitHub's built-in token for authentication
